<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">SORMAS-Stats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% url 'index' as index %}
            <li class="nav-item {% if request.get_full_path == index %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            {% url 'dashboards' as dashboards %}
            <li class="nav-item {% if request.get_full_path == dashboards %}active{% endif %}">
                <a class="nav-link" href="{% url 'dashboards' %}">Dashboards</a>
            </li>
            {% url 'networks' as networks %}
            <li class="nav-item {% if request.get_full_path == networks %}active{% endif %}">
                <a class="nav-link" href="{% url 'networks' %}">Networks</a>
            </li>
            {% url 'reporting' as reporting %}
            <li class="nav-item {% if request.get_full_path == reporting %}active{% endif %}">
                <a class="nav-link" href="{% url 'reporting' %}">Reporting</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
