<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"></script>

    <style type="text/css">
        #container {
            width: 500px;
            height: 500px;
            background-color: #ffffff;
            border: 1px solid lightgray;
            position: relative;
            float: left;
        }
    </style>
    <title>Transmission Network</title>
</head>

<body>
<h1>Transmission Network</h1>
<div id="container"></div>

<script type="text/javascript">
    function drawGraph() {
        let container = document.getElementById('container');

        let nodes = new vis.DataSet({{nodes|tojson}});
        let edges = new vis.DataSet({{edges|tojson}});
        let data = {nodes: nodes, edges: edges};

        let options = {{options|safe}};

        return new vis.Network(container, data, options);
    }

    drawGraph();

</script>
</body>
</html>